/* ===== FONTS INITIALIZE ===== */

@font-face {
    font-family: 'Asap Condensed';
    src: url(website-media/Fonts/AsapCondensed-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Asap Condensed Medium';
    src: url(website-media/Fonts/AsapCondensed-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Asap Condensed SemiBold';
    src: url(website-media/Fonts/AsapCondensed-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Jost';
    src: url(website-media/Fonts/Jost-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url(website-media/Fonts/NotoSerifJP-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url(website-media/Fonts/Roboto-Light.ttf) format('truetype');
}



/* ===== ROOT VARIABLES ===== */
:root {
    --main-font: 'Asap Condensed';
    --main-font-medium: 'Asap Condensed Medium';
    --main-font-bold: 'Asap Condensed SemiBold';
    --secondary-font: 'Jost';
    --tertiary-font: 'Roboto';
    --japanese-font: 'Noto Serif JP';
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#0A0A0A, #0A0A0A, #0A0A0A, #fffff0, #fffff0, #fffff0);
    font-family: Arial, Helvetica, sans-serif; /* not final lol */
    display: flex;
    flex-direction: column;
}

/* ===== HEADER SECTION STYLING ===== */

/* Header Backgrounds Styling */
.bg-img {
    background-image: url("website-media/Header/home-bg.png");
    width: 100%;
    height: 50em;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* The spacing between the header logo and navigation button */
header .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: transparent;
}

/* The background color for when the navigation is opened */
header.nav-open .nav-bar {
    background: #0A0A0A;
}

/* Kanto logo's size and spacing */
.header-logo {
    width: 70px;
    height: 20px;
    margin: 30px;
}

/* Navigation button's styling and spacing */
.nav-button {
    margin: 30px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

/* The transformation for when the button is clicked */
.nav-button:active {
    transform: scale(0.9);
}

/* The menu icon's size */
.nav-button img {
    width: 25px;
    height: 15px;
}

/* The navigation links' styling when it's opened */
.nav-links {
    position: absolute;
    top: 5em;
    left: 0;
    width: 100%;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    overflow: hidden;
    background: #0A0A0A;
    transition: max-height 0.4s ease, opacity 0.3s ease, transform 0.3s ease;
    font-family: var(--main-font-bold), sans-serif;
}

/* The transformation when the navigation links are presented */
.nav-links.open {
    max-height: 400px;
    opacity: 1;
    transform: translateY(0);
    border-top: 1px solid #e2e2e2;
}

/* The navigation list's styling as a whole */
.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Styling for each navigation anchor link */
.nav-links ul li a {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    text-align: center;
    color: #e2e2e2;
    animation: fade-up 0.4s ease forwards;
}

/* When the mouse cursor hovers a navigation link */
.nav-links ul li a:hover {
    background-color: #660810;
}

.overlay-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

.overlay-cont p {
    color: white;
    text-align: center;
    font-size: 0.9em;
    margin: 0 2em;
    padding: 2em 0;
    font-family: var(--secondary-font), sans-serif;
}

.extra-header-text {
    display: none;
}

.overlay-cont img {
    height: 166px;
}

.overlay-cont button {
    width: 9.6em;
    height: 2.5em;
    margin-bottom: 1em;
    border-radius: 15px;
    font-family: var(--main-font), sans-serif;
    font-size: 0.9em;
}

#menu-header-button {
    background-color: black;
    border: none;
    color: white;
    transition: ease 0.3s;
}

#menu-header-button:hover {
    background-color: hsl(0, 0%, 20%);
    box-shadow: none;
}

#book-header-button {
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    border: none;
    transition: ease 0.3s;
}

#book-header-button:hover {
    background-color: hsl(0, 0%, 80%);
}


/* =============== MOBILE FIRST APPROACH =============== */

/* ===== MAIN STYLING (MENU PAGE) ===== */

.title {
    margin: 20px;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.0;
    font-family: var(--main-font), sans-serif;
}

.title h1 {
    margin: 0;
    font-size: 25px;
}

.title h2 {
    margin: 5px;
    font-weight: 100;
    font-size: 18px;
}

.btn-container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.btn-container button {
    padding: 5px 15px;
    background-color: #660810;
    color:#FFFFFF;
    font-size: 10px;
    border: none;
    border-radius: 10px;
    font-family: var(--main-font), sans-serif;
}

.btn-container button:hover, .beige-bg button:hover {
    background-color: #350000;
    box-shadow: 0 0 8px 2px #801622;
}

hr {
    margin: 0;
}

.menu-display-section {
    background-image: url(website-media/Menu/reviews-menu-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 20px;
    font-family: var(--main-font), sans-serif;
    color:#FFFFFF;
}

.menu-group, .sub-menu-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    margin-top: 5px;
    gap: 10px;
}

.sub-menu-group, .sub-menu-group h2, h3 {
    grid-area: auto/span 2;
}

.sub-menu-group h3 {
    margin: 0;
    font-size: 15px;
    align-self:first baseline;
}

#business-lunch {
    margin-bottom: 0;
}

.menu-item {
    background-color: #000000;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    grid-auto-flow: dense;
    grid-row-gap: 10px; 
    column-gap: 10px;
    border: solid 1px #B93B41;
    line-height: 1.5;
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px 3px #3a0a05;
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    grid-area: 1/span 3;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.menu-item p {
    margin: 0;
    font-size: 0.7rem;
}

.menu-item b {
    text-transform: uppercase;
}

.menu-item i {
    color:hsl(0, 0%, 67%)
}

.menu-item p:nth-child(2) {
    grid-area: 2 /span 2;
    align-self:first baseline;
}

.menu-item p:nth-child(3) {
    text-align: right;
}

.menu-item p:nth-child(4) {
    grid-area: 3 /span 3;
    justify-self: top;
    font-size: 12px;
    line-height: 1.5;
    color:rgba(255, 255, 255, 0.5)
}

.menu-item p:nth-child(5) {
    grid-area: 4 /span 3;
    justify-self: top;
    color:rgba(255, 255, 255, 0.5)
}

#business-lunch-2 {
    grid-area: auto /span 2;
}

#business-lunch-2 p:nth-child(2) {
    font-size: 20px;
}

.beige-bg {
    background-color: #FFFFF0;
    padding: 70px;
    text-align: center;
    line-height: .5;
    font-family: var(--main-font), sans-serif;
}

.beige-bg h2 {
    font-size: 25px;
}

.beige-bg h3 {
    font-size: 13px;
}

.beige-bg button {
    padding: 8px 50px;
    background-color: #660810;
    color:#FFFFFF;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    font-family: var(--main-font), sans-serif;
}

/* ===== MAIN STYLING (HOME PAGE)===== */

main #home-main {
    display: grid;
}

.japanese-promotions-text {
    font-family: var(--japanese-font), sans-serif;
    color: #959595;
    opacity: 0.5;
    z-index: 50;
    font-size: 2.5em;
    text-align: center;
    margin: -1em 0 0 0;
}

#jap-promotion-text-2 {
    display: none;
}


/* ===== MAIN STYLING (HOME PAGE: PROMOTIONS)===== */

#promotions {
    background-color: #0A0A0A;
    color: white;
    text-align: center;
    font-family: var(--main-font-bold), sans-serif;
}

#promotions h1 {
    font-size: 2.2em;
}

.promotion-offer {display: none}
.promotion-offer picture {vertical-align: middle;}

.promotion-offer picture img, .promotion-offer picture source {
    animation: offersAnim 1s ease;
}

/* Slideshow container */
.slideshow-container {
    /* max-width: 1000px; */
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.offers-text {
    color: #f2f2f2;
    text-align: center;
    position: absolute;
    width: 100%;
}

.offer-details {
    display: flex;
    gap: 2.5em;
    justify-content: center;
    animation: carouselAnim 0.5s ease forwards;
    animation-delay: 1s;
}

.offers-text h2 {
    font-size: 3em;
    margin: 0 0.3em 0.5em 0.3em;
    animation: carouselAnim 0.5s ease forwards;
    animation-delay: 0.8s;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 0.3em;
    width: 0.3em;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

@keyframes carouselAnim {
    0% {opacity: 0; transform: translateX(-100px)} 
    100% {opacity: 1; transform: translateX(0px)}
}

@keyframes offersAnim {
    0% {opacity: 0; transform: scale(1.1)} 
    100% {opacity: 1; transform: scale(1)}
}

#view-menu-btn {
    margin: 1em;
    width: 5.8em;
    height: 1.55em;
    font-family: var(--main-font-medium), sans-serif;
    font-size: 1.25em;
    background-color: #FFFFF0;
    border: none;
}

/* ===== MAIN STYLING (HOME PAGE: REVIEWS)===== */

#reviews {
    font-family: var(--main-font-bold), sans-serif;   
}

#reviews h1{
    color: white;
    font-size: 2.25em;
    text-align: center;
    margin: 0 auto;
    padding-top: 3em;
}

.review-header-details {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5em 0;
    text-align: center;
    gap: 0.5em;
}

#star-rating {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.review-header-details p {
    margin: 0;
    font-size: 0.9em;
}

.review-header-details img {
    width: 5.5em;
    align-self: center;
}

.testimonials-section {
    background-image: url(website-media/Home/reviews/reviews-bg-mobile.png);
    background-position: top;
    background-size: cover;
    height: 49em;
    background-repeat: no-repeat;
}

.testimonials-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4.5em;
    gap: 2.25em;
}

.testimonial {
    background-color: #FFFFF0;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    width: 20.2em;
    height: 10.3em;
    display: flex;
}

.testimonial-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
    padding: 2em 1em 1em 1em;
    column-gap: 0.1em;
}

.testimonial img {
    width: 4em;
    justify-self: start;
}

.testimonial .testimonial-writer {
    justify-self: start;
    align-self: start;
    font-size: 0.85em;
    margin: 0;
}

.testimonial-text {
    margin: 0 1.1em 0 0;
    font-family: var(--tertiary-font), sans-serif;
    -webkit-text-stroke: 0.5px #E1E1CC;
    paint-order: stroke fill;
}

#third-testimonial {
    box-shadow: 0 5px 5px #c9c9b7b5;
}

.share-experience-section {
    padding: 10em 0 5em 0;
    background-color: #FFFFF0;
}

.share-experience-section h2 {
    font-size: 2em;
    margin: 0.3em;
    text-align: center;
}

.share-experience-section h3 {
    margin: 0;
    font-size: 1em;
    text-align: center;
    color: #333333;
}

.share-experience-section button {
    color: #FFFFF0;
    font-family: var(--main-font-bold),sans-serif;
    font-size: 1.25em;
    background-color: #660810;
    border: none;
    width: 11em;
    height: 2.5em;
    border-radius: 0.5em;
    box-shadow: 0 5px 5px #c9c9b7b5;
    display: block;
    margin: 3em auto 0 auto;
}


/* ===== MAIN STYLING (HOME PAGE: DELIVERY)===== */

#delivery {
    background-color: #FFFFF0;
    padding: 1.5em;
    margin: 0;
    font-family: var(--main-font-bold), sans-serif;
}

#delivery hr{
    background-color: #000000;
    height: 0.5px;
    border: 0;
    margin-bottom: 1.25em;
}

#delivery h1 {
    font-size: 2.5em;
    color: #3A3A3A;
    text-align: center;
    margin: 2em 0 0.5em 0;
}

#delivery h2 {
    font-size: 1.25em;
    text-align: center;
    margin: 1em;
}

.supported-deliveries {
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin: 3em 0 2em 0;
}

.supported-deliveries h3 {
    display: none;
}

.supported-deliveries a {
    background-color: #000000;
    width: 13.6em;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.supported-deliveries, .supported-deliveries .left-delivery-brand, .supported-deliveries .right-delivery-brand {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

 #delivery img {
    height: 1.8em;
    display: flex;
 }

 #deliveroo-delivery img{
    height: 4em;
 }

 #noon-delivery img {
    height: 2.5em;
 }

/* ===== MAIN STYLING (HOME PAGE: RESERVATION)===== */

#book {
    background-image: url(website-media/Home/reservation/reserve-bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding: 1em;
    font-family: var(--main-font-bold), sans-serif;
    color: #FFFFF0;
    text-align: center;
}

#book h1 {
    font-size: 2.5em;
    margin: 0.5em;
}

#book h2 {
    font-size: 1.25em;
}

#book form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 0;
}

#book form div {
    display: flex;
    flex-direction: column;
}

#book form input {
    margin: 0.7em 0 1em 0;
    width: 12.9em;
    padding: 0.5em 1em;
    font-family: var(--secondary-font), sans-serif;
    background-color: #FFFFF0;
    border: none;
    color: #0A0A0A;
}

#book form input:focus {
    box-shadow: 0px 0px 10px #B93B41;
    font-weight: 500;
    outline: solid 0.5px white;
}

#book form button {
    width: 12.5em;
    background-color: #000000;
    border: none;
    font-size: 1em;
    color: white;
    font-family: var(--main-font-bold), sans-serif;
    height: 2.3em;
    padding: 0;
    margin: 1em 0;
}

/* ===== ABOUT US STYLING ===== */
.black-bg {
    background: #0A0A0A;
    color:#FFFFFF;
    font-family: var(--tertiary-font), sans-serif;
} 

#about-us-bg {
    background-image: url(website-media/Header/About\ Us\ Banner\ BG\ 1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0 30px 30px 30px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-us-bg h4 {
    color: #FFFFF0;
    text-align: center;
    font-size: 12px;
}

#about-us-bg button {
    background-color: #FFFFF0;
    padding: 10px 15px;
    margin: 10px;
    color:#0A0A0A;
    text-align: center;
    font-size: 12px;
    border: none;
    border-radius: 3px;
}

#about-us-bg button:hover {
    background-color: #737373;
}

#japanese-about-text {
    margin: 0;
    writing-mode: vertical-rl;
    text-orientation: upright;
    align-self: center;
    letter-spacing: 15px;
}

.why-we-started, .sushi-images, .logo-story {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.why-we-started h2, .logo-story h2 {
    font-family: var(--main-font), sans-serif;
    font-size: 1.9em;
    word-spacing: 5px;
    font-weight: 900;
    text-align: center;
}

.why-we-started p {
    text-align: center;
}

.logo-story img, .kanto-elements img {
    width: 100%;
    height: auto;
}

.sushi-images {
    padding: 3px;
    flex-direction: row;
    gap: 80px;
}

.sushi {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    column-gap: 20px;
}

.kanto-elements {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: var(--japanese-font), sans-serif;
    justify-items: center;
    font-size: 0.7em;
    gap: 10px;
}

.element-text {
    align-content: center;
}



/* ===== FOOTER STYLING ===== */
footer {
    background-color: #101010;
    font-family: var(--main-font), sans-serif;
    color: white;
    padding: 0 1.5em;
    grid-area: 3/1/4/1;
}

.more-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 1em;
    padding: 2rem 0;
}

.footer-social-media img, .footer-delivery-apps img {
    width: 1.7rem;
    border-radius: 50px;
    margin: 0 1px;
}

.footer-social-media img {
    filter: grayscale(100%) brightness(110%);
}

footer h5, footer h6 {
    margin: 0 0 1em 0;
}

footer h5 {
    font-size: 1em;
}

footer h6 {
    font-size: 0.75em;
}

footer p {
    font-size: 0.75em;
    margin: 0.5rem 0;
}

.contact-us-here, .opening-hours, .branch-location {
    text-align: left;
}

.find-us-here, .technical-support, .delivery-apps {
    text-align: right;
}

span {
    margin: 0 0 1em 0;
}

b {
    margin-right: 0.15em;
}

.copyright {
    text-align: center;
    padding: 1em;
    font-size: 0.8rem;
    font-family: var(--main-font-bold), sans-serif;
}









/* ===== MEDIA QUERIES ===== */

@media (min-width: 800px) {
    /* === FOR NAVIGATION LINKS === */
    .nav-links {
        position: static;
        max-height: none;
        opacity: 1;
        transform: none;
        overflow: visible;
        background: transparent;
    }

    .nav-links ul {
        display: flex;
        justify-content: flex-end;
        gap: 25px;
        padding: 0 20px;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .nav-links ul li a {
        display: block;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        font-size: 13px;
        color: #FFFFFF;
        animation: fade-up 0.4s ease forwards;
    }

    .nav-links ul li a:hover {
        background-color: transparent;
        color: #c4c4c4;
    }

    .nav-button {
        display: none;
    }

    /* === FOR MAIN STYLING (MENU PAGE) === */
    .title {
        line-height: 1.2;
    }

    .title h1 {
        font-size: 50px;
    }

    .title h2 {
        font-size: 20px;
    }

    .btn-container button {
        padding: 10px 20px;
        font-size: 15px;
    }

    .menu-group, .sub-menu-group {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .sub-menu-group, .sub-menu-group h2, h3 {
        grid-area: auto/span 4;
        font-size: 35px;
    }

    .sub-menu-group h2 {
        margin: 5px 0;
    }

    .sub-menu-group h3 {
        font-size: 20px;
        font-weight: 100;
    }

    .menu-item img {
        aspect-ratio: 4 / 4;
    }

    .menu-item p {
        font-size: 0.9rem;
    }

    .menu-item p:nth-child(4), .menu-item p:nth-child(5) {
        font-size: 0.9rem;
    }

    #business-lunch-2 {
        grid-area: auto /span 4;
        padding: 15px;
    }

    #business-lunch-2 img {
        aspect-ratio: 3 / 2;
        grid-row: 1 / 5;
    }

    #business-lunch-2 p:nth-child(2) {
        font-size: 30px;
        grid-area: auto /span 2;
    }

    #business-lunch-2 p:nth-child(3) {
        font-size: 25px;
    }

    #business-lunch-2 p:nth-child(4) {
        font-size: 20px;
    }

    #business-lunch-2 p:nth-child(5) {
        font-size: 18px;
    }

    .beige-bg {
        background-color: #FFFFF0;
        padding: 150px;
        text-align: center;
        line-height: .5;
        font-family: var(--main-font), sans-serif;
    }

    .beige-bg h2 {
        margin-top: 0;
        font-size: 40px;
    }

    .beige-bg h3 {
        font-size: 20px;
    }

    .beige-bg button {
        padding: 10px 60px;
        font-size: 20px;
    }

    /* === FOR HEADER STYLING (HOME PAGE) === */

    .overlay-cont img {
        width: 14em;
        height: auto;
    }

    .overlay-cont p{
        font-size: 1em;
        margin: 0 17.5em;
    }

    .overlay-cont button {
        font-size: 1.25em;
        height: 2.4em;
        width: 9em;
    }

    .bg-img {
        height: 55em;
    }

    /* ===== MAIN STYLING (HOME PAGE: PROMOTIONS)===== */

    .japanese-promotions-text {
        font-size: 4em;
        opacity: 0.5;
    }

    .offer-details {
        font-size: 1.33em;
        gap: 1.5em;
    }

    #promotions h1 {
        font-size: 4em;
    }

    .offers-text h2 {
        font-size: 2.5em;
        margin: 0;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 117%;
        margin-top: 0px;
    }

    .prev img, .next img{
        width: 2em;
    }

    .next {
        right: 43%;
    }

    .prev {
        left: 43%;
    }

    #view-menu-btn {
        font-size: 1.5em;
        width: 7.1em;
        height: 1.8em;
    }

    /* ===== MAIN STYLING (HOME PAGE: REVIEWS)===== */

    #reviews h1 {
        font-size: 4em;
        padding-top: 2.5em;
    }

    .review-header-details {
        flex-direction: row;
        font-size: 1.25em;
        margin: 2em 0;
    }

    .review-header-details, #star-rating {
        gap: 1em;
    }

    .testimonials-section {
        background-image: url(website-media/Home/reviews/reviews-bg.png);
        height: 35em;
    }

    .testimonials-cont {
        flex-direction: row;
        gap: 2em;
    }

    .testimonial {
        width: 13.6em;
        height: 17em;
        box-shadow: 0 5px 5px #c9c9b7b5;
    }

    .testimonial-content {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        font-size: 1.25em;
        padding: 1em 0.5em 1em 0.5em;
    }

    .testimonial-content img {
        width: 2em;
        height: 1.5em;
    }

    .testimonial .testimonial-writer {
        font-size: 0.75em;
    }

    .testimonial-text {
        font-size: 1em;
        margin: 1em 0 0 0;
    }

    .share-experience-section h2 {
        font-size: 3em;
    }

    .share-experience-section h3 {
        font-size: 1.5em;
    }

    .share-experience-section button {
        margin: 1em auto 2.5em auto;
        font-size: 2em;
        height: 2em;
    }

    /* ===== MAIN STYLING (HOME PAGE: DELIVERY)===== */

    #delivery h1 {
        font-size: 4em;
    }

    #delivery h2 {
        font-size: 2em;
    }

    .supported-deliveries {
        flex-direction: row;
        align-items: start;
        padding: 4em;
    }

    .supported-deliveries h3 {
        display: block;
    }

    .supported-deliveries a {
        width: unset;
        height: unset;
    }

    .supported-deliveries .left-delivery-brand a{
        width: 15.9em;
        height: 11.7em;
    }

    #delivery .supported-deliveries .left-delivery-brand a img {
        height: 2.25em;
    }

    #delivery .supported-deliveries .left-delivery-brand #deliveroo-delivery img {
        height: 7em;
    }

    .supported-deliveries .right-delivery-brand a{
        width: 16.5em;
        height: 7.3em;
    }

    #delivery .supported-deliveries .right-delivery-brand a img {
        height: 2em;
    }

    #delivery .supported-deliveries .right-delivery-brand #noon-delivery img {
        height: 3em;
    }

    .supported-deliveries #japanese-delivery-text h3 {
        font-family: var(--japanese-font), sans-serif;
        writing-mode: vertical-rl;
        text-orientation: upright;
        margin: 0;
        letter-spacing: 0.5em;
        font-weight: bold;
        font-size: 3em;
        text-shadow: 3px -5px 3px rgba(0, 0, 0, 0.126);
        line-height: 1.1em;
    }

    #japanese-delivery-text {
        display: flex;
        color: #660810;
        opacity: 0.6;
    }

    /* ===== MAIN STYLING (HOME PAGE: RESERVATION)===== */

    #book {
        background-image: url(website-media/Home/reservation/reserve-bg-tablet.png);
    }
    
    #book h1 {
        font-size: 4em;
        margin: 0.5em 0 0.3em 0;
    }

    #book h2 {
        font-size: 1.5em;
    }

    #book form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
        gap: 1em;
        column-gap: 2.5em;
        padding: 2em 0 4em 0;
    }

    #book form label {
        text-align: left;
        font-size: 1.25em;
    }

    #book form input {
        margin: 0.7em 0 1em 0;
        width: 16em;
        padding: 0.5em 1em;
        font-family: var(--secondary-font), sans-serif;
        background-color: #FFFFF0;
        border: none;
        color: #0A0A0A;
    }

    #book form .book-phone-number {
        grid-area: 2/1/3/2;
    }

    #book form .book-email {
        grid-area: 1/2/2/3;
    }

    #book form button {
        grid-column: 1/span 2;
        justify-self: center;
    }

    /* ===== ABOUT US STYLING ===== */
    #about-us-bg h4 {
        font-size: 1.5em;
    }

    #about-us-bg button {
        margin: 0 200px 0 200px;
    }

    .why-we-started, .logo-story {
        padding: 30px 100px;
        gap: 30px;
        align-items: center;
    }

    .why-we-started h2, .logo-story h2 {
        font-size: 3em;
    }

    .why-we-started p {
        font-size: 1.7em;
    }

    .sushi-images, .kanto-elements {
        gap: 150px;
    }

    .sushi p {
        font-size: 1.2em;
    }

    .kanto-elements {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 15px;
    }

    .element-group {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .element-group hr {
        border: none;
        height: 2px;
        background-color: #333;
        margin: 15px 0; 
        width: 100%;
    }

    .element-group p {
        font-size: 1em;
        text-align: center;
        margin: 5px;
    }

    .element-group p:nth-child(3) {
        writing-mode: vertical-rl;
        text-orientation: upright;
        align-self: center;
        font-size: 3em;
        letter-spacing: 15px;
    }

    .element-text {
        align-content: center;
    }





    

    /* ===== FOOTER STYLING ===== */
    .more-info {
        margin: 10px 30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 0.7em;
    }

    footer h5 {
        font-size: 1.2em;
    }

    footer h6 {
        font-size: 1em;
    }

    footer p {
        font-size: 0.9em;
        margin: 0.2rem 0;
        line-height: 1.5;
    }

    .contact-us-here, .find-us-here {
        text-align: left;
        grid-column: 1;
    }

    .opening-hours, .branch-location {
        text-align: center;
        grid-column: 2;
    }

    .opening-hours, .technical-support {
        grid-row: 1;
    }

    .branch-location, .delivery-apps {
        grid-row: 2;
    }

    .technical-support, .delivery-apps {
        text-align: right;
        grid-column: 3;
    }
}

@media (min-width: 1280px) {
    /* === FOR NAVIGATION LINKS === */
    .header-logo {
        width: 80px;
        height: 30px;
    }

    .nav-links ul li a {
        font-size: 15px;
    }
    
    /* === FOR MAIN STYLING (MENU PAGE) === */
    .btn-container {
        gap: 20px;
    }

    .btn-container button {
        padding: 10px 30px;
        font-size: 18px;
    }

    .menu-display-section {
        padding: 30px;
    }

    .menu-group, .sub-menu-group {
        grid-template-columns: repeat(5, 1fr);
    }

    .sub-menu-group, .sub-menu-group h2, h3 {
        grid-area: auto/span 5;
    }

    .sub-menu-group h2 {
        margin: 10px 0;
    }

    .menu-item img {
        aspect-ratio: 3 / 2;
    }

    #business-lunch-2 {
        grid-area: auto;
    }

    #business-lunch-2 img {
        grid-row: auto;
    }

    #business-lunch-2 p:nth-child(2) {
        font-size: 0.9rem;
        grid-area: auto /span 2;
    }

    #business-lunch-2 p:nth-child(3) {
        font-size: 0.9rem;
    }

    #business-lunch-2 p:nth-child(4) {
        font-size: 0.9rem;
    }

    #business-lunch-2 p:nth-child(5) {
        justify-self: top;
        font-size: 0.9rem;
    }

    .beige-bg h2 {
        font-size: 50px;
    }

    .beige-bg button {
        margin: 10px;
        padding: 10px 60px;
        font-size: 25px;
    }


    /* === FOR HEADER STYLING (HOME PAGE) === */

    .overlay-cont img {
        width: 16.9em;
        height: auto;
    }

    .extra-header-text {
        display: inline;
    }

    .remove-desktop-text {
        display: none;
    }

    #menu-header-button {
        font-size: 1.25em;
        height: 2.6em;
        width: 9.5em;
    }

    #book-header-button {
        width: 9.5em;
    }

    #promotions h1 {
        text-align: left;
        margin: 0 1em;
    }

    .slideshow-container {
        display: flex;
        gap: 2em;
        margin: 2em auto 0 auto;
        max-width: 90vw;
    }

    .offers-text {
        display: flex;
        flex-direction: column;
        gap: 0.3em;
        top: 0;
        margin: 0 3em;
        width: auto;
    }

    .offers-text h2 {
        text-align: left;
    }

    .offer-details {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.5em;
        padding-top: 1em;
    }

    .offer-details p {
        margin: 0;
    }

    .japanese-promotions-text {
        font-size: 4em;
        opacity: 0.5;
        display: block;
        writing-mode: vertical-rl;
        text-orientation: upright;
        margin: 0;
        letter-spacing: 0.4em;
    }

    #jap-promotion-text-1 {
        display: none;
    }

    #jap-promotion-text-2 {
        display: inline;
        align-self: baseline;
    }

    #view-menu-btn {
        width: 8em;
        margin: 0.5em;
    }

    .prev, .next {
        top: 113%;
    }

    .prev img, .next img{
        width: 1.5em;
    }

    .next {
        right: 46%;
    }

    .prev {
        left: 46%;
    }

    /* ===== MAIN STYLING (HOME PAGE: REVIEWS)===== */

    #reviews h1 {
        font-size: 6em;
    }

    .review-header-details {
        font-size: 1.4em;
        margin: 1em 0;
    }

    .testimonials-section {
        height: 40em;
    }

    .testimonials-cont {
        gap: 4em;
    }

    .testimonial {
        width: 18.5em;
        height: 17em;
        box-shadow: 0 5px 5px #c9c9b7b5;
    }

    .testimonial-content {
        font-size: 1.25em;
        padding: 1.5em 1em 1em 1em;
    }

    .testimonial-content img {
        width: 2.8em;
        height: 2em;
    }

    .testimonial-text {
        -webkit-text-stroke: 1px #E1E1CC;
    }

    .share-experience-section {
        padding: 15em 0 2em 0;
    }

    /* ===== MAIN STYLING (HOME PAGE: DELIVERY)===== */

    .supported-deliveries .left-delivery-brand a{
        width: 18em;
        height: 11.3em;
    }

    .supported-deliveries .right-delivery-brand{
        gap: 1em;
    }

    .supported-deliveries .right-delivery-brand a{
        width: 18em;
        height: 7.3em;
    }

    .supported-deliveries #japanese-delivery-text h3 {
        text-shadow: 3px -5px 5px rgba(0, 0, 0, 0.256);
        line-height: 1.5em;
    }

    /* ===== MAIN STYLING (HOME PAGE: RESERVATION)===== */

    #book {
        background-image: url(website-media/Home/reservation/reserve-bg-desktop.png);
    }

    #book h1 {
        text-align: right;
        margin: 0.5em 1em 0.3em 0;
    }

    #book h2 {
        text-align: right;
        margin: 0.5em 3em 0.3em 0;
    }

    #book form {
        justify-self: start;
        margin-left: 3em;
        gap: 1.5em;
        column-gap: 5em;
    }

    #book form button {
        justify-self: start;
        grid-column: 1;
        width: 100%;
    }

    /* === FOR FOOTER STYLING === */
    .more-info {
        margin: 30px 70px;
        grid-row-gap: 1.2em;
    }
    
    footer h5 {
        font-size: 1.5em;
    }

    footer h6 {
        font-size: 1.2em;
    }

    footer p {
        font-size: 1em;
        margin: 0.2rem 0;
        line-height: 1.5;
    }
}