/* ===== FONTS INITIALIZE ===== */

@font-face {
    font-family: 'Asap Condensed';
    src: url(website-media/Fonts/AsapCondensed-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Asap Condensed SemiBold';
    src: url(website-media/Fonts/AsapCondensed-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Jost';
    src: url(website-media/Fonts/Jost-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url(website-media/Fonts/NotoSerifJP-SemiBold.ttf) format('truetype');
}

/* ===== ROOT VARIABLES ===== */
:root {
    --main-font: 'Asap Condensed';
    --main-font-bold: 'Asap Condensed SemiBold';
    --secondary-font: 'Jost';
    --japanese-font: 'Noto Serif JP';
}

body {
    margin: 0;
    padding: 0;
    background-color: #0A0A0A;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif; /* not final lol */
    display: flex;
    flex-direction: column;
}


/* ===== HEADER SECTION STYLING ===== */

/* Header Backgrounds Styling */
.bg-img {
    background-image: url("website-media/Header/home-bg.png");
    width: 100%;
    height: 130vh;
    background-position: bottom ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* The spacing between the header logo and navigation button */
header .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: transparent;
}

/* The background color for when the navigation is opened */
header.nav-open .nav-bar {
    background: #0A0A0A;
}

/* Kanto logo's size and spacing */
.header-logo {
    width: 70px;
    height: 20px;
    margin: 30px;
}

/* Navigation button's styling and spacing */
.nav-button {
    margin: 30px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

/* The transformation for when the button is clicked */
.nav-button:active {
    transform: scale(0.9);
}

/* The menu icon's size */
.nav-button img {
    width: 25px;
    height: 15px;
}

/* The navigation links' styling when it's opened */
.nav-links {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    overflow: hidden;
    background: #0A0A0A;
    transition: max-height 0.4s ease, opacity 0.3s ease, transform 0.3s ease;
    font-family: var(--main-font-bold), sans-serif;
}

/* The transformation when the navigation links are presented */
.nav-links.open {
    max-height: 400px;
    opacity: 1;
    transform: translateY(0);
    border-top: 1px solid #e2e2e2;
}

/* The navigation list's styling as a whole */
.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Styling for each navigation anchor link */
.nav-links ul li a {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    text-align: center;
    color: #e2e2e2;
    animation: fade-up 0.4s ease forwards;
}

/* When the mouse cursor hovers a navigation link */
.nav-links ul li a:hover {
    background-color: #660810;
}

.overlay-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

.overlay-cont p {
    color: white;
    text-align: center;
    font-size: 0.9em;
    margin: 0 5.5em;
    padding: 2em 0;
    font-family: var(--secondary-font), sans-serif;
}

#extra-header-text {
    display: none;
}

.overlay-cont img {
    height: 166px;
}

.overlay-cont button {
    width: 9.6em;
    height: 2.5em;
    margin-bottom: 1em;
    border-radius: 15px;
    font-family: var(--main-font), sans-serif;
    font-size: 0.9em;
}

#menu-header-button {
    background-color: black;
    border: none;
    color: white;
    transition: ease 0.3s;
}

#menu-header-button:hover {
    background-color: hsl(0, 0%, 20%);
}

#book-header-button {
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    border: none;
    transition: ease 0.3s;
}

#book-header-button:hover {
    background-color: hsl(0, 0%, 80%);
}

/* ===== MAIN STYLING ===== */

main {
    display: grid;
}

#japanese-promotions-text {
    font-family: var(--japanese-font), sans-serif;
    color: #959595;
    z-index: 50;
    font-size: 2.5em;
    text-align: center;
    margin: -1em 0 0 0;
}

.promotions-cont {
    background-color: #0A0A0A;
    color: white;
    text-align: center;
    font-family: var(--main-font-bold), sans-serif;
}

.promotions-cont h1 {
    font-size: 2.2em;
}




/* ===== FOOTER STYLING ===== */
footer {
    background-color: #101010;
    font-family: var(--main-font), sans-serif;
    color: white;
    padding: 0 1.5em;
    grid-area: 3/1/4/1;
}

.more-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 1em;
    padding: 2rem 0;
}

.footer-social-media img, .footer-delivery-apps img {
    width: 1.7rem;
    border-radius: 50px;
    margin: 0 1px;
}

.footer-social-media img {
    filter: grayscale(100%) brightness(110%);
}

footer h5, footer h6 {
    margin: 0 0 1em 0;
}

footer h5 {
    font-size: 1em;
}

footer h6 {
    font-size: 0.75em;
}

footer p {
    font-size: 0.75em;
    margin: 0.5rem 0;
}

.contact-us-here, .opening-hours, .branch-location {
    text-align: left;
}

.find-us-here, .technical-support, .delivery-apps {
    text-align: right;
}

span {
    margin: 0 0 1em 0;
}

b {
    margin-right: 0.15em;
}

.copyright {
    text-align: center;
    padding: 1em;
    font-size: 0.8rem;
    font-family: var(--main-font-bold), sans-serif;
}









/* ===== MEDIA QUERIES (so far only for navigation bars) ===== */

@media (min-width: 800px) {
    .nav-links {
        position: static;
        max-height: none;
        opacity: 1;
        transform: none;
        overflow: visible;
        background: transparent;
    }

    .nav-links ul {
        display: flex;
        justify-content: flex-end;
        gap: 25px;
        padding: 0 20px;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .nav-links ul li a {
        display: block;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        font-size: 13px;
        color: #FFFFFF;
        animation: fade-up 0.4s ease forwards;
    }

    .nav-links ul li a:hover {
        background-color: transparent;
        color: #c4c4c4;
    }

    .nav-button {
        display: none;
    }
}